body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

.coolTitle {
  font: 600 3.5em 'Raleway', sans-serif;
  color: rgba(0,0,0,.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  width: 100%;
}

.yo{
  font: 900 1.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
button{
  font-size: 20px;
  color: #FFFF66;
  background: transparent;
  margin-top: 7px;
  cursor: pointer;
  padding: 7px 15px;
  transition: 0.5s;
}


input[type="text"]{
  /* width: 25%; */
  font-size: 20px;
  font-family: cursive;
  color: #A50B5E;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px dotted #e8e8e8;
  margin-top: 10px;
  padding: 10px;
}

label{
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  color: black;
}

input[type=checkbox]:checked + label{
  text-decoration: line-through;
}
